.discussao {
  background: transparent;
}

.discussao a {
  text-decoration: none;
  color: black;
}

.discussao .content {
  background-color: rgba(0, 0, 0, .20);
}

.discussao .content:hover {
  background-color: rgba(0, 0, 0, .25);
  color: whitesmoke; 
}