.discussao-resumo {
  background: transparent;
}

.discussao-resumo a {
  text-decoration: none;
  color: black;
}

.discussao-resumo .content {
  background-color: rgba(0, 0, 0, .20);
}

.discussao-resumo .content:hover {
  background-color: rgba(0, 0, 0, .25);
  color: whitesmoke; 
}