.Form {
  display: grid;
  justify-content: center;
  background: lightblue;
  height: 40rem;
  width: 100%;
}

.Form-Group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 7rem 0 15rem 0;
}

.Form-Field {
  border-style: none;
  border-radius: 5px;
  width: 100%;
  background: rgba(0, 0, 0, .20);
  padding: .5rem;
}

.Form-Group button {
  width: 35%;
  margin-top: 2rem;
}

.Form-Field:focus{
  box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
  outline: none;
}

.Form a {
  font-size: 14px;
}