.Login {
  display: grid;
  justify-content: center;
  background: linear-gradient(0deg, #4682B4 0%, #000080 100%);
  height: 40rem;
  width: 100%;
}

.Login-Group {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40% 0 20% 0;
}

.Login-Group p {
  color: teal;
}

.Login-Field {
  border-style: none;
  border-radius: 5px;
  width: 100%;
  background: rgba(0, 0, 0, .20);
  padding: .5rem;
  max-width: 80%;
  transition: all .1s linear;
  font-size: 1.2rem;
}

.Login-Group button {
  width: 35%;
  margin-top: 2rem;
  background: rgba(0, 0, 0, .20);
  border-style: none;
  border-radius: 1rem;
  padding: .5rem;
}

.Login-Group button:hover {
  cursor: pointer;
}

.Login-Group button:focus {
  background: rgba(0, 0, 0, .5);
  outline: none;
  color: whitesmoke;
}

.Login-Field:focus{
  box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
  outline: none;
}

.Login-Group a {
  font-size: 14px;
  margin-top: 2rem;
  text-decoration: underline;
  color: whitesmoke;
}

.Login-Error {
  color: whitesmoke;
  border-radius: 3px;
  margin-top: 1rem;
  margin-top: .3rem;
  font-size: .9rem;
}