.peca {
  background: linear-gradient(0deg, #4682B4 0%, #000080 100%);
  height: 100rem;
}

.peca .discussoes-abertas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}

.peca .discussoes-abertas h2{
  margin-top: 5rem;
  color: whitesmoke;
}

.peca .discussoes-abertas a {
  color: whitesmoke;
}