.header-content {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(329.54deg, #191970 0%, #000080 100%);
}

.header-content img {
  width: 8vh;
  margin-left: 10%;
}

.header-content .high-score {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 50% 50% 50% 41%;
}

.header-content .high-score a {
  color:teal;
  text-decoration: none;
}

.header-content .pesquisa input {
  border-radius:4px;
  background: rgba(0, 0, 0, .25);
  box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
  border-style: none;
  width:12rem;
  height: 1.3rem;
  position: absolute;
  top: 1.6rem;
  left: 3.7rem;
  outline:none;
}

.header-content .pesquisa button{
  position: absolute;
  width:20px;
  height: 20px;
  top: 27px;
  left: 230px;
  border:none;
  background:transparent;
  outline: none;
}

.header-content .pesquisa {
  width: 200px;
  outline: none;
}

.header-content .login a {
  color: teal;
  text-decoration: none;
  position: absolute;
  right: 2%;
  top: 1.8rem;
}

.header-content .login a:hover {
  color: whitesmoke;
  text-decoration: underline;
}