.peca-resumo-container {
  margin-top: 0rem !important;
}

.peca-resumo-container a {
  text-decoration: none;
  color: black;
}

.peca-resumo-container a:hover {
  color: whitesmoke;
}

.peca-resumo-container .peca-resumo {
  background-color: rgba(0, 0, 0, .11);
}

.peca-resumo-container .peca-resumo:hover {
  background-color:rgba(0, 0, 0, .20);
}