.container a {
  text-decoration: none;
  color: black;
}

.container a:hover {
  color: midnightblue;
}

.container .peca-resumo {
  background-color: rgba(0, 0, 0, .11);
}

.container .peca-resumo:hover {
  background-color:rgba(0, 0, 0, .20);
}